In [ ]:
import pandas as pd
import requests
import json
from pandas.io.json import json_normalize
import time

## Getting all plants in NW USA:

In [ ]:
finaldf = pd.DataFrame()

for i in range(1, 769):
  token='eubVXJDnYoqGNlCnfeRTSLzziXK5QEga2Jjf5O7i75s'
  r = requests.get('https://trefle.io/api/v1/distributions/73/plants?token='+token+'&page='+str(i))
  data = r.json()
  df = json_normalize(data['data'])
  finaldf = pd.concat([finaldf, df])

  time.sleep(0.5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

## Cleaning up links to plant info:

In [ ]:
finaldf = finaldf.reset_index()
finaldf.replace("%C3%97", "x", regex=True, inplace=True)
finaldf.drop_duplicates(subset=["links.plant"], inplace=True)
finaldf["links.self"].replace("species", "plants", regex=True, inplace=True)
finaldf.reset_index(inplace=True)

## Getting detailed information about each plant by doing an API request using its individual link:

In [ ]:
nw_plants = pd.DataFrame()
for i in range(len(finaldf)):
  try:
    link = finaldf.iloc[i]['links.plant']
    token = 'eubVXJDnYoqGNlCnfeRTSLzziXK5QEga2Jjf5O7i75s'
    r = requests.get('https://trefle.io'+link+'?token='+token)
    data = r.json()
    df = json_normalize(data['data'])
    nw_plants = pd.concat([nw_plants, df])
  except KeyError:
    try:
      link = finaldf.iloc[i]['links.self']
      token = 'eubVXJDnYoqGNlCnfeRTSLzziXK5QEga2Jjf5O7i75s'
      r = requests.get('https://trefle.io'+link+'?token='+token)
      data = r.json()
      df = json_normalize(data['data'])
      nw_plants = pd.concat([nw_plants, df])
    except:
      pass
    
  time.sleep(0.5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

## Split up reading the plants into 3 sections due to time constraints and converted each part to csv.

In [ ]:
nw_plantspart1 = pd.read_csv('/content/nw_plantspart1.csv')
nw_plantspart2 = pd.read_csv('/content/nw_plantspart2.csv')
nw_plantspart3 = pd.read_csv('/content/nw_plantspart3.csv')

## Concatenated csvs into one full df, dropped all the columns that were just common-names in different languages.

In [ ]:
nw_plants = pd.concat([nw_plantspart1, nw_plantspart2, nw_plantspart3], ignore_index=True)

In [ ]:
nw_plants = nw_plants[nw_plants.columns.drop(list(nw_plants.filter(regex='common_names')))]

In [ ]:
nw_plants.to_csv('nw_plants.csv')

In [ ]:
nw_plants.head()

   Unnamed: 0  index  ...  main_species.distributions.extinct main_species
0           0    0.0  ...                                 NaN          NaN
1           1    0.0  ...                                 NaN          NaN
2           2    0.0  ...                                 NaN          NaN
3           3    0.0  ...                                 NaN          NaN
4           4    0.0  ...                                 NaN          NaN

[5 rows x 122 columns]

## Got all the column names:

In [ ]:
nw_plants_columns = nw_plants.columns.values.tolist()
df_columns = pd.DataFrame(nw_plants_columns)

In [ ]:
df_columns.to_csv('nw_columns.csv')